@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;1,700&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', 'Arial';
  font-weight: 500;
  
}

body{
  font-size: 16px;
}
li{
  cursor: pointer;
}



h2{
  z-index: 10;
}




