@mixin applyflex{
    display: flex;
    align-items: center;
    justify-content: center;
   
}


@mixin mobile{
    @media screen and (max-width:990px){
        @content
    }

}

@mixin tablets {
    @media screen  and (max-width: 990px) {
      @content;
    }
  }

  @mixin  small-mobile{
    @media screen and (max-width:380px){
        @content
    }

}

  


 
  