@import 'mixin';

.cc-container {
  width: 28%;
  height:6vmax;
  border: solid 1px rgb(223, 200, 200);
  border-radius: 1rem;
  margin: 0.5rem auto;
  display: flex;
  align-items: center;
  gap: 2rem;
 
  @include mobile {
    height:12vmax;
    border: none;
    flex-direction: column;
    gap: 5vmax;
    width: 28%;
    margin-bottom: 2rem;
  }

  .cc-wrapper {
    @include applyflex;
    height: 100%;
    width: 23%;
    font-size: 2.5rem;
    color: white;
    border-radius: 1rem 0 0 1rem;

    @include mobile{
      margin-top: 3.6vmax;
      flex-direction: column;
          }
    // @include mobile {
    //   position: relative;
      
    //   font-size: 3rem;
    //   margin-top: 20px;
    //   width: 100%;
    //   border-radius: 1rem 1rem 0 0;
    // }

    h2{
      
      display: none;
      @include mobile{
        
        font-size: 2vmax;
       
      }
    }
  }

  h2 {
    color: white;
    @include mobile {
      font-size: 2.2vmax;
      color: crimson;
    }
  }
}
