@import 'mixin';

.nav-wrapper {
  background: white;
  padding: 1rem 2rem 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include mobile {
    padding: 1.2rem 0.5rem;
  }

  .logo-wrapper {
    font-size: 70px;
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    @include mobile {
      height: 7vh;
      gap: 0.1rem;
    }
    h1 {
      font-size: 2rem;
    }

    span {
      font-size: 2rem;
      margin-left: -1rem;

      @include mobile {
        margin-left: 0;
      }
    }
  }

  .largescreen-navbar {
    display: flex;
    gap: 2rem;
    margin-left: 10rem;
    @include mobile {
      display: none;
    }
    @include tablets {
      display: none;
    }

    li {
      font-size: 1.6rem;
      list-style: none;

      .link {
        font-size: 1.3rem;
        color: crimson;
        font-weight: 400;
        text-decoration: none;
        transition: 0.2s ease-in;
        @include tablets {
          font-size: 1rem;
        }

        &:hover {
          color: black;
        }
      }
    }
  }

  .mobilescreen-navabar {
    display: none;

    @include tablets {
      @include applyflex;
      z-index: 100;
      background: white;
      flex-direction: column;
      gap: 7rem;
      width: 90vw;
      height: 91vh;
      padding-bottom: 3rem;
      position: absolute;
      top: 82px;
      right: 0;
      transition: 0.2s ease-in-out;

      li {
        list-style: none;

        .link {
          text-decoration: none;
          letter-spacing: 0.1rem;
          font-size: 2rem;
          font-weight: 500;
          color: crimson;
        }
      }
    }
  }
  .outline-menu {
    display: none;
    @include tablets {
      margin-right: 1rem;
      display: block;
      font-size: 4rem;
    }
  }
}
