@import 'mixin';

.nav-wrapper {
  background: white;
  padding: 1.1vmax;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include mobile{
    padding: 1.4vmax;

  }

  .logo-wrapper {
    width: 40%;
    display: flex;
    align-items: center;
    gap: 1vmax;
    position: relative;
    .logo {
      font-size: 50px;

     
      }
    

   
    h1 {
      font-size: 2.2vmax;
    }

    span {
      color: crimson;
      font-size: 2.1vmax;
      margin-left: -1vmax;
    }
  }

  .largescreen-navbar {
    width: 60%;
    display: flex;
    justify-content: end;
    padding-right: 1vmax;
    gap: 2vmax;

    @include tablets {
      display: none;
    }

    li {
      list-style: none;

      .link {
        font-size: 1.6vmax;
        color: crimson;
        font-weight: 400;
        text-decoration: none;
        transition: 0.2s ease-in;

        &:hover {
          color: black;
        }
      }
    }
  }

  .mobilescreen-navabar {
    display: none;

    @include tablets {
      @include applyflex;
      z-index: 100;
      background: white;
      flex-direction: column;
      gap: 7vmax;
      width: 90vw;
      height: 91vh;
      padding-bottom: 3.9vmax;
      position: absolute;
      top: 6vmax;
      right: 0;
      transition: 0.2s ease-in-out;

      li {
        list-style: none;

        .link {
          text-decoration: none;
          letter-spacing: 0.1rem;
          font-size: 2rem;
          font-weight: 500;
          color: crimson;
        }
      }
    }
  }
  .outline-menu {
    display: none;
    @include tablets {
      margin-right: 1rem;
      display: block;
      font-size: 4.5vmax;
    }
  }
}
